{% extends "base.html" %}
{% block contenedor %}

<section>
<div class="container">
<form action="/insert" method="POST">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputFecha">Fecha</label>
      <input type="text" name="fecha" class="form-control"  id="inputFecha" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCasos">Casos</label>
      <input type="number" name="casos" class="form-control" id="inputCasos" required>

    </div>
     <div class="form-group col-md-3">
      <label for="inputMuertes">Muertes</label>
      <input type="number" name="muertes" class="form-control" id="inputMuertes" required>

    </div>
        <div class="form-group col-md-3">
      <label for="inputRecuperados">Recuperados</label>
      <input type="number" name="recuperados" class="form-control" id="inputRecuperados" required>

    </div>

  </div>
    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputTerapia">Terapia</label>
      <input type="number" name="terapia" class="form-control"  id="inputTerapia" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputTestsNegatives">Tests Negativos</label>
      <input type="number" name="testsNegatives" class="form-control" id="inputTestsNegatives" required>

    </div>
     <div class="form-group col-md-3">
      <label for="inputTests">Tests</label>
      <input type="number" name="tests" class="form-control" id="inputTests" required>

    </div>
        <div class="form-group col-md-3">
      <label for="inputNegativosDescarte">Negativos Descartados</label>
      <input type="number" name="negativosDescarte" class="form-control" id="inputNegativosDescarte" required>

    </div>

  </div>
    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputCasosDiarios">Casos Diarios</label>
      <input type="number" name="casosDiarios" class="form-control" id="inputCasosDiarios" required>
    </div>
    <div class="form-group col-md-3">
      <label for="inputTestNegativosDiarios">Tests Negativos Diarios</label>
      <input type="number" name="testNegativosDiarios" class="form-control" id="inputTestNegativosDiarios" required>

    </div>
     <div class="form-group col-md-3">
      <label for="inputCasosImportados">Casos Importados</label>
      <input type="number" name="CasosImportados" class="form-control" id="inputCasosImportados" required>

    </div>
        <div class="form-group col-md-3">
      <label for="inputContactoEstrecho">Casos de contacto Estrecho</label>
      <input type="number" name="contactoEstrecho" class="form-control" id="inputContactoEstrecho" required>

    </div>


  </div>
    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputTrasmisionComunitaria">Tramision Comunitaria</label>
      <input type="number" name="trasmisionComunitaria" class="form-control"  id="inputTrasmisionComunitaria" required>
    </div>


  </div>


  <button id="send" type="submit" class="btn btn-primary">Agregar</button>

</form><br>
</div>
  </section>


{% endblock %}
